*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar */
nav {
  height: 4rem;
  background: #131921;
  display: flex;
  flex-direction: row;
  color: azure;
}

nav img {
  height: 2rem;
  margin: 1rem 0rem 0rem 1rem;
}

nav .deliver {
  margin: 0.6rem 0rem 0rem 1rem;
  font-family: "Amazon Ember",Arial,sans-serif;
}

.deliver .light {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
}

.deliver .location {
  font-size: 0.8rem;
  color: rgb(235, 235, 235);
  font-weight: bold;
}

input.search {
  line-height: 2.2rem;
  margin: 0.8rem 0rem 0rem 2rem;
  width: 50vw;
  border: none;
}

button.searchBtn {
  line-height: 2.2rem;
  margin: 1px;
  border: none;
  width: 2vw;
  background-color: orange;
}