*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav Bar */
nav {
  height: 4rem;
  background: #131921;
  display: flex;
  flex-direction: row;
  color: azure;
}

nav img {
  height: 6rem;
  transform: translateY(-10px);
}

nav .deliver {
  margin: 0.6rem 0rem 0rem 1rem;
  font-family: "Amazon Ember",Arial,sans-serif;
}

.deliver .light {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
}

.deliver .location {
  font-size: 0.8rem;
  color: rgb(235, 235, 235);
  font-weight: bold;
}

input.search {
  line-height: 2.2rem;
  margin: 0.8rem 0rem 0rem 2rem;
  width: 50vw;
  border: none;
}

button.searchBtn {
  line-height: 2.2rem;
  margin: 1px;
  border: none;
  width: 2vw;
  background-color: orange;
}

span.country img {
  height: 1.8rem;
  transform: translateY(0);
  margin: 1rem 0rem 0rem 1rem;
}

.account {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 0rem 0rem 1rem;
}

.account .topText {
  font-size: 0.8rem;
  margin: 0;
}

.account .bottomText, .cartText {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.cart {
  display: flex;
  flex-direction: row;
}

.cart img {
  height: 2.6rem;
  margin: 1.4rem 0rem 0rem 1rem;
}

.cartText {
  margin: 1.5rem 0rem;
}